<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
        <h2 class="text-muted text-center fw-600 mb-3">Detalles de la cuenta</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.name.errors?.required">Nombre es requerido</mat-error>
                <mat-error *ngIf="infoForm.controls.name.hasError('minlength')">El nombre no es lo suficientemente largo, mínimo de 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required autocomplete="off">
                <mat-error *ngIf="infoForm.controls.email.errors?.required">Email es requerido</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')">Dirección de correo electrónico no válida</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Celular</mat-label>
                <input matInput placeholder="Celular" formControlName="phone" required onlyNumber autocomplete="off">
                <mat-error *ngIf="infoForm.controls.phone.errors?.required">Celular es requerido</mat-error>
            </mat-form-field>

            <div class="mb-3">
                <input-file placeholder="Imagen (enlace a la imagen)" formControlName="image" fileLimit="1" fileAccept="image/*" [linkEnabled]="true"></input-file>  
            </div>
    
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Organización</mat-label>
                <input matInput placeholder="Organización" formControlName="organization" autocomplete="off"> 
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Facebook</mat-label>
                <input matInput placeholder="facebook" formControlName="facebook" autocomplete="off"> 
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Twitter</mat-label>
                <input matInput placeholder="twitter" formControlName="twitter" autocomplete="off"> 
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Linkedin</mat-label>
                <input matInput placeholder="linkedin" formControlName="linkedin" autocomplete="off"> 
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Instagram</mat-label>
                <input matInput placeholder="instagram" formControlName="instagram" autocomplete="off"> 
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Website</mat-label>
                <input matInput placeholder="website" formControlName="website" autocomplete="off"> 
            </mat-form-field>

            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">Actualizar perfil</button>
            </div> 
        </form>
    </div>
    
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-3" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center fw-600 mb-3">Cambio de contraseña</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña Actual</mat-label>
                <input matInput placeholder="Contraseña Actual" formControlName="currentPassword" type="password" minlength="6" required autocomplete="off">
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Se requiere contraseña actual</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">La contraseña actual no es lo suficientemente larga, mínimo de 6 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput placeholder="Nueva Contraseña" formControlName="newPassword" type="password" minlength="6" required autocomplete="off">
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Se requiere una nueva contraseña</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">La nueva contraseña no es lo suficientemente larga, mínimo de 6 caracteres</mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Confirmar Nueva Contraseña</mat-label>
              <input matInput placeholder="Confirmar Nueva Contraseña" formControlName="confirmNewPassword" type="password" required autocomplete="off">
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Se requiere confirmar nueva contraseña</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div> 
